:root {
    --yellow: #ffa400;
    --light-gray: #e5e5e5;
    --lightest-gray: #efefef;
}

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

#wpwrap {
    background-color: #e5e5e5;
    background-color: var(--light-gray);
}

#adminmenu > li:hover .wp-menu-image img,
#adminmenu .current .wp-menu-image img {
    opacity: 1;
}

#adminmenu .wp-menu-image img {
    padding: 2px 0 0 0;
}
.wp-menu-image > img {
    width: 30px;
}